@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #B0E0E6;
}

.message-username{
    font: 500 1.2rem Roboto;
    text-align: center;
}

.message-content{
    font: 1rem Roboto;
}

ul{
    list-style: none;
    background-image: linear-gradient(to right, #001b44, #005187 80%);
    border-radius: 5px;
    padding: 0.5rem;
}

li{
    margin: 0.5rem;
    word-wrap: break-word;
}

#form-message{
    width: 80%;
    background-image: linear-gradient(to right, #001b44, #005187, #a8eb12);
    border-radius: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1vh;
    align-content: center;
    justify-content: space-around;
    padding: 1rem;

    margin: 0 auto;
}

#form-message input{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 80%;
}

#form-message button{
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: #000000;
    color: #a8eb12;
    font: 500 1rem Roboto;
    transition: all 0.2s;
    max-width: 10%;
    min-width: 100px;
}

@media screen and (max-width: 1023px){
    #form-message button{
        min-width: 150px;
    }
}

#form-message button:hover{
    filter: invert(1);
    color: white;
    font: 500 1rem Roboto;
    transition: all 0.2s;
}