@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #B0E0E6;
}

.message-username{
    font: 500 1.2rem Roboto;
    text-align: center;
}

.message-content{
    font: 1rem Roboto;
}

ul{
    list-style: none;
}

li{
    margin: 0.5rem;
    word-wrap: break-word;
}

#form-message{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    align-content: center;
    justify-content: space-between;
    padding: 1rem;

    margin: 0 auto;
    margin-top: 10px;
}

#form-message input{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 80%;
}

#form-message button{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #000000;
    color: white;
    font: 500 1rem Roboto;
    transition: all 0.2s;
}

#form-message button:hover{
    background-color: #00000077;
    color: white;
    font: 500 1rem Roboto;
    transition: all 0.2s;
}

.scrollBar{
    background-color: rgba(0, 0, 0, 0.381);
    border-radius: 10px;
    padding: 0.5rem;
    overflow-y: scroll;
    height: 80vh;
    margin: 0 auto;
}

.scrollBar::-webkit-scrollbar{
    width: .8rem;
}

.scrollBar::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.371);
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb{
    background-color: #000000a7;
    border-radius: 10px;
}