@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #142433;
}

footer{
    font: 900 1.5rem Roboto;
    padding: 0;
    margin: 0;
    color: #ffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

    font-family: 'Roboto', sans-serif;
    animation: aparecer .8s;
}

#message-container{
    font: 500 1.2rem Roboto;
    text-align: center;
    color: #fff;
}

#form-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    align-content: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;

                /* Efeito de vidro */
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

#username-input{
    width: 65%;
    height: 2.8rem;
    border-radius: 0.5rem;
    border: 0;
    padding: 0 1.5rem;
    background-color: #fff;
    color: #29292e;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: auto;
}

#ok-btn{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #89373d;
    font: 500 1rem Roboto;
    color: #fff;
    font-size: 20px;
    transition: all 0.2s;
}

#ok-btn:hover{
    background-color: #000;
    transition: all 0.2s;
}

@media screen and (max-width: 767px) {
    #username-input{
        font-size: .5rem;
        width: 30%;
    }

    #ok-btn{
        padding: 0 .5rem;
        font-size: 10px;
    }

    #username-input{
        height: 1.8rem;
    }
}

@media screen and (max-width: 374px) {

    #form-container{
        padding: .5rem;
    }

    #username-input{
        font-size: .3rem;
        width: 30%;
    }

    #ok-btn{
        padding: 0 .4rem;
        font-size: 5px;
    }

    #username-input{
        height: 1.8rem;
    }
}


/* Faz a div cair de cima */
@keyframes aparecer{
    from{
        opacity: 0%;
        transform: translateY(-100%);
    }
    to{
        opacity: 100%;
        transform: translateY(0);
    }
}